<!DOCTYPE html>

<head>
    <html>
    <title>LegoWood</title>
    <meta charset="UTF-8" />
</head>

<body ng-app="LegowoodModule">
    <div id="wrapper" ng-controller="MainStateController as $ctrl">
        <header  style="padding-top:10px">
            <div id="main" >
                <!-- <div id="header">
                    <div id="banner">
                        <div id="welcome_slogan">
                            <a ng-click="$ctrl.showMainPage()"> <img src="images/logo3.png" height="100px" width="190px" alt=""> </a>
                        </div> -->
                        <!--close welcome_slogan-->
                    <!-- </div> -->
                    <!--close banner-->
                <!-- </div> -->
                <!--close header-->
                <div id="menubar">
                    <ul id="menu">
                        <li ng-class="{current: $ctrl.mainVisible}"><a ng-click="$ctrl.showMainPage()">Home</a></li>
                        <li ng-class="{current: $ctrl.aboutVisible}"><a ng-click="$ctrl.showAboutPage()">O nama</a></li>
                        <li ng-class="{current: $ctrl.galeryVisible}"><a ng-click="$ctrl.showGaleryPage()">Galerija</a></li>
                        <li ng-class="{current: $ctrl.contactVisible}"><a ng-click="$ctrl.showContactPage()">Kontakt</a></li>
                    </ul>
                </div>
                <!--close menubar-->
            </div>
        </header>

        <!-- End Header -->

        <!-- page content -->
        <main-page ng-if="$ctrl.mainVisible"></main-page>
        <about-page ng-if="$ctrl.aboutVisible"></about-page>
        <gallery-page ng-if="$ctrl.galeryVisible"></gallery-page>
        <contact-page ng-if="$ctrl.contactVisible"></contact-page>
        <div id="push"></div>
        <ng-footer></ng-footer>
        <!-- end of page content -->

        <!-- Styles imports -->
        <link href="css/style.css" rel="stylesheet" type="text/css" />
        <link href="css/fonts.css" rel="stylesheet" type="text/css" />
        <link href="css/lightbox.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- TODO: provjeriti zasto import bootsrap-a ne radi -->
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!--  -->

        <!-- libraries import -->
        <script src="lib/jquery.min.js"></script>
        <script src="lib/bootstrap.min.js"></script>
        <script src="lib/angular.min.js"></script>
        <script src="lib/angular-route.min.js"></script>
        <script src="src/app.js"></script>
        <script src="src/about/about.component.js"></script>
        <script src="src/gallery/gallery.component.js"></script>
        <script src="src/contact/contact.component.js"></script>
        <script src="src/footer/footer.component.js"></script>
        <script src="src/main/main.component.js"></script>
      </div>
        <!--  -->
</body>

</html>
