body{
font-family: Arial, helvetica, sans-serif;
font-size:15px;
background-image: url("images/pattern.jpg");
}

#wrapper{
width:960px;
height:auto;
margin:auto;
}
#menubar
{ width: 960px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  background: transparent url(images/menu_pattern.jpg) repeat;
  border-radius: 15px 15px 15px 15px;
  -moz-border-radius: 15px 15px 15px 15px;
  -webkit-border: 15px 15px 15px 15px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  }
  ul#menu
{ margin:0;}

ul#menu li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul#menu li a
{ float: left;
  font: bold 120% Arial, Helvetica, sans-serif;
  height: 24px;
  margin: 10px 0 0 20px;
  text-shadow: 0px -1px 0px #000;
  padding: 6px 20px 0 20px;
  background: transparent;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  text-align: center;
  color: #FFF;
  text-decoration: none;}

ul#menu li.current a
{ color: #1D1D1D;
  background: #5E2612;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  text-shadow: none;}

ul#menu li:hover a
{ color: #5E2612;
  background: #5E2612;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  text-shadow: none;
}

  a, a:hover
{ color: #1D1D1D;
  background: transparent;
  outline: none;
  text-decoration: none;}

a:hover
{ text-decoration: underline;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}
/* Slideshow container */
.slideshow-container {
height: 400px;
width: 900px;
background-color:rgba(84,84,84,0.3);
position: absolute;
margin-left: 30px;
margin-top: 60px;
margin-right: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.mySlides {
height: 360px;
width: 840px;
padding: 0px 0px 30px 30px;
margin-top: 20px;
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.mySlides img {
  height: 360px;
  width: 840px;
}

p {
	font-family: Georgia, "Varela", Times, serif;
	font-size: 12px;
	color: #000;
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: normal;
}
a {
text-decoration: none;
color: #fff;
  }
  #content {
  	float: left;
  	height: auto;
  	width: 960px;
    margin-top: 430px;
    margin-left: 30px;
  }
#content p {
  font-family: "Varela";
  font-size: 12px;
}
#content img {
border: 3px solid #333;
  }
#content h2 {
color: #5E2612;
 }
#content1 {
	float: left;
	height: auto;
	width: 264px;
	margin-right: 54px;
}
#content2 {
	float: left;
	height: auto;
	width: 264px;
	margin-right: 54px;
}
#content3 {
	float: left;
	height: auto;
	width: 264px;
}
 #footer, #push{
  height: 100px;
}

#footer {
  float: left;
  height: auto;
  width: 960px;
  border-radius: 15px 15px 15px 15px;
  background: url(images/menu_pattern.jpg);
}
#footer p {
	font-family: "Varela";
	font-size: 15px;
	font-weight: bold;
  color: #fff;
}

#adress {
float: left;
text-align: left;
color: #fff;
font-weight: bold;
font-size: 18px;
margin-left: 30px;
}
#contact {
  float: left;
  text-align: left;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  margin-left: 210px;

}

#text_box {
	height: auto;
	width: 900px;
	min-height: 550px;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 30px;
	float: left;
}
#text_box, p {
  font-style: "Varela";
  font-size: 15px;
  text-align: justify;
}
#text_box, h2 {
  font-style: "Varela";
  color: #5E2612;
}
#text_box1 {
	float: left;
	height: auto;
	width: 264px;
	margin-right: 54px;
}

#text_box2 {
	float: left;
	height: auto;
	width: 582px;
}
.gallery {
	float: left;
	height: 154px;
	width: 264px;
	margin-bottom: 12px;
	margin-left: 15px;
  border: 1px solid;
  padding-right: 10px;
}
#gallery_box {
	float: left;
	height: auto;
	width: 900px;
	padding-top: 40px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
}

#contact_box {
	float: left;
	height: auto;
	width: 900px;
	min-height: 580px;
	padding-top: 40px;
	padding-left: 30px;
	font-style: "Varela";
	font-size: 15px bold;
	font-weight: normal;
	color: #5E2612;
}
input[type=text]{
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #b49384;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 5px 5px 5px 5px;
}
input[type=text]:focus {
  border: 3px solid #b49384;
  background-color: #f8f8f8;
}
textarea {
    width: 70%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
    border: 3px solid #b49384;
    border-radius: 5px 5px 5px 5px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
background-color: #ccc;
}

#button {
  width: 20%;
  border: 3px solid #b49384;
  border-radius: 5px 5px 5px 5px;
}
#reset {
  width: 20%;
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid #b49384;
  border-radius: 5px 5px 5px 5px;
}
input[value=Reset] {
  font-style: "Varela";
  font-weight: bold;
  font-size: 12px;
  color: #5E2612
}
input[value=Pošalji] {
  font-style: "Varela";
  font-weight: bold;
  font-size: 12px;
  color: #5E2612
}
